.button-form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    margin: 2rem;
    border-radius: 2px;
    
}

.add-task-form{
    
    display: flex;
    width: 100%;
    
}

.form{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-elements{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    color: black;
}

input {
    
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 8px;
}



